In [6]:
# Exercise 1: Accept numbers from a user and SUM them all
lst = []
while True:
    num = int(input("Please Enter The Number You Want To SUM : "))
    lst.append(num)
    if num == 0:
        break
print(f"The SUM is : {sum(lst)}")

Please Enter The Number You Want To SUM : 10
Please Enter The Number You Want To SUM : 10
Please Enter The Number You Want To SUM : 0
The SUM is : 20

In [8]:
# Exercise 2: Display three string “Name”, “Is”, “Hasnain” as “Name**Is**James”
name = "My name is Hasnain"
print(name.replace(' ', "**"))

My**name**is**Hasnain

In [9]:
# Convert Decimal number to octal using print() output formatting
num = 8
print(oct(num))

0o10

In [10]:
# Exercise 4: Display float number with 2 decimal places using print()
num = 458.541315
print(round(num, 2))

458.54

In [11]:
# Exercise 5: Accept a list of 5 float numbers as an input from the user
lst = []
for x in range(5):
    num = float(input("Please Enter A Decimal Number : "))
    lst.append(num)
print(lst)

Please Enter A Decimal Number : 1.2
Please Enter A Decimal Number : 3.2
Please Enter A Decimal Number : 2.5
Please Enter A Decimal Number : 22.2
Please Enter A Decimal Number : 28.9
[1.2, 3.2, 2.5, 22.2, 28.9]

In [23]:
# Exercise 6: Write all content of a given file into a new file by skipping line number 5
# Read File
with open('test.txt','r') as tf:
    old = tf.readlines()
    
with open('new.txt','w') as nf:
    for count, x in enumerate(old):
        if count == 4:
            continue
        nf.write(x)

In [27]:
# Exercise 7: Accept any three string from one input() call

name1,name2,name3 = input("Please Enter 3 Name Along With spaces: ").split()
print(name1)
print(name2)
print(name3)

Please Enter 3 Name Along With spaces: Hasnain Nafees Shahbaz
Hasnain
Nafees
Shahbaz

In [34]:
# Exercise 8: Format variables using a string.format() method.

totalMoney = 1000
quantity = 3
price = 450

statement = 'I have {0} dollars so I can buy {1} football for {2} dollars.'
print(statement.format(totalMoney,quantity,price))


# Alternative Way of string formating 
print(f'I have {totalMoney} dollars so I can buy {quantity} football for {price} dollars.')

I have 1000 dollars so I can buy 3 football for 450 dollars.
I have 1000 dollars so I can buy 3 football for 450 dollars.

In [35]:
# Exercise 10: Read line number 4 from the following file
with open('test.txt','r') as tf:
    line = tf.readlines()[3]
    print(line)

line4